node_modules/
lib/
coverage/
.expo/
.yarn/*
.DS_Store
*.log
example/dist/
example/.expo/
example-cli/build/
example-cli/android/.gradle/
example-cli/android/app/.cxx/
example-cli/android/app/build/
example-cli/android/build/
example-cli/ios/Pods/
example-cli/ios/build/
example-cli/ios/.xcode.env.local
example-cli/ios/*.xcworkspace/
